:root {
  font-size: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
}
a{
    text-decoration: none;
    color: black;
}
main {
    padding: 4vw;
}
@font-face {
    font-family: "Allura";
    src: url(../src/Fontes/Allura-Regular.ttf);
}
@font-face {
    font-family: "Cheque";
    src: url(../src/Fontes/Cheque-Regular/Cheque-Regular.otf);
}
@font-face {
    font-family: "Mali";
    src: url(../src/Fontes/mali/Mali-Regular.ttf);
}
p {
    font-size: 1.5vw;
    font-family: "Mali";
}
body {
    background-image: url(../src/images/BordaDefinitiva.png);        
    background-repeat: repeat-y;
    background-size: 100%;
}
/* ================================
                Menu Recolhível
=======================================*/
header div.btn {
    align-items: center;
    margin:  0 2vw;
    display: flex;
    justify-content: center;
}
header #background {
    position: absolute;
    display: none;
    min-height: 2320vh;
    min-width: 100vw;
    background-color: #00000085; 
    z-index: 1;
}
header aside {
    display: none;
    width: 20%;
    height: 100vh;
    position: absolute;
    z-index: 2;
}
header aside nav ul {
    border-radius: 25px;
    background-color: #7bb8e3;    
}
header aside nav ul li {
    padding: 20px 50px;
    font-size: 1.2vw;
}
header aside nav ul li:hover a {
   transition: 0.5s;
    color: white;
}
header button {
    padding: 20px;
    background-color: #7bb8e3;
    border-radius: 100%;
}
header button span {
    font-size: 3.5vw;
}



/* ================================
                Título
=======================================*/
header h1 {
    font-size: 4vw;
    margin: 0 0 0 12vw;
    font-family: "Allura";
    text-align: center;
}
header h1 span {
    font-size: 6vw;
    text-align: center;
    margin: 0 10px 0 0;
    font-family: "Cheque";
}
header img {
   width: 30vw;
    height: 15vw;
}
/* ===================================
                Introducao
=======================================*/
.introducao {
    margin: 0 0 3vw 0;
}
.introducao > p {
    margin: 0 50% 0 0;
}
.introducao p.nome_cientifico {
    margin: 0 50% 0 0;
    padding: 20px;
    background-color:#68c5ff;
    border-radius: 20px;
}
.introducao div {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.introducao div img {
    width: 300vw;
    height: 50vh;
}
.introducao div div {
    display: flex;
    align-items: center;
}
.introducao div div p {
    margin: 0 5vw;
    background-color:#3968a6;
    border-radius: 20px;
    padding: 20px 40px;

}
/* ===================================
                Baleia Franca
=======================================*/
.franca {
    justify-content: center;
}
.franca h2 {
    text-align: center;
    font-size: 3vw;
    padding: 10px 2vw;
    background-color:#7bb8e3;
    margin: 0 30% 20px 30%;
    border-radius: 20px;
    font-family: "Allura";
}
.franca > div {
    background-color:#7bb8e3;
    display: flex;
    padding: 2vw 2vw 4vw 2vw;
    justify-content: center;
}
.franca div div {
    width: 50%;   
}
.franca div div:first-child {
    align-items: start;
}
.franca div div {
    display: grid;
}
.franca div div p {
    margin: 20px;
}
.franca div div p.caracterstica_marcante {
    background-color: #3968a6;
    border-radius: 20px;
    padding: 20px;
}
.franca div div p {
    text-align: center;
}
.franca div div  img {
    width: 80%;
}
/* ===================================
             Migração Jubarte
=======================================*/
.migracao_jubarte h2 {
     font-size: 4vw;
    margin: 3vw 0 0 10vw;
    text-align: center;
    font-family: "Allura";
    background: url(../src/images/fundo_img_migracao_jubarte.png);
    background-position: center;
    background-size: 45vw;
    background-repeat: no-repeat;
}
.migracao_jubarte h2 span {
     font-size: 6vw;
    text-align: center;
    margin: 0 10px 0 0;
    font-family: "Cheque";
}
.migracao_jubarte div {
    display: flex;
    margin: 20px 0;
    align-items: flex-start;
}
.migracao_jubarte > div p img {
    width: 85vw;
}
.migracao_jubarte p.detalhes {
    margin:30px 0;

}
.migracao_jubarte .rotas_migratorias_jubarte p {
    margin: 0 20px;
    line-height: 2.5;
    text-align: center;
}
.migracao_jubarte div p {
    margin: 0 20px;
    line-height: 3;
    text-align: center;
}

.migracao_jubarte .rotas_migratorias_jubarte p img {
    width: 95vw;
}
/* ===================================
             Migração Franca
=======================================*/

.migracao_franca h2 {
    font-size: 4vw;
    background: url(../src/images/fundo_img_migracao_jubarte.png);
    font-family: "Allura";
    background-repeat: no-repeat;
    background-size: 40vw;
    margin: 3vw;
}
.migracao_franca > p {
    margin: 0 0 2vw 0;
    text-align: center;
    padding: 0 3vw 0 5vw;
}
.migracao_franca div {
    display: flex;
    align-items: center;
    
}
.migracao_franca div p {
    line-height: 2.5;
}
.migracao_franca div img {
  width: 200vw;
  height: 30vw;
  margin: 0 0 0 2vw;
  border-radius: 25px;
}
.migracao_franca p.ancora_para_reproducao {
    text-align: start;
    margin: 40px 0;
}

/* ===================================
             reproducao_jubarte
=======================================*/

.reproducao_jubarte {
    margin: 5vw 0;
}
.reproducao_jubarte > div {
    display: flex;
    justify-content: space-evenly;
}
.reproducao_jubarte div .imagem {
    width: 30%;
}

.reproducao_jubarte h2 {
    font-size: 6vw;
    font-family: "Cheque";
}
.reproducao_jubarte h3 {
    text-align: center;
    font-size: 4vw;
    font-family: "Allura";
    margin: 20px 0;
}
.reproducao_jubarte div .imagem img {
    border-radius: 25px;
    width: 25vw;
    height: 18vw;
}
.reproducao_jubarte div .imagem p {
    margin: 20px 0;
    color: #004aad;
    text-align: center;
}
.reproducao_jubarte div.texto {
    margin: 2vw 0;
}
.reproducao_jubarte div.texto > p {
    width: 50%;
    margin: 0 20px;
    padding: 0 20px;
    text-align: center;
}
.reproducao_jubarte div div {
    width: 50%;
}
.reproducao_jubarte div div p {
    text-align: center;
    padding: 0 20px;
}
.reproducao_jubarte div.texto div img {
    width: 15vw;
    margin: 0 0 0 28vw;
}
/* ===================================
             reprodução baleia franca
=======================================*/
.reproducao_franca {
    display: flex;
    margin: 5vw 0;
}
.reproducao_franca div div {
    display: flex;
}
.reproducao_franca div div h2  {
     text-align: center;
    font-size: 4vw;
    font-family: "Allura";
   margin: 4vw 0 0  0;
   align-items: center;
}
.reproducao_franca div p{
    text-align: center;
    padding: 20px 7vw;
}
.reproducao_franca div.filhotes p{
    text-align: center;
    padding: 20px 0;
}
.reproducao_franca div.filhotes img {
    margin: 4vw 0 0 0;
    border-radius: 25px;
    width: 150vw;
}
/* ===================================
           Nascimento da Baleia Jubarte
=======================================*/
.nascimento_jubarte {
    display: flex;
    justify-content: space-evenly;
}
.nascimento_jubarte div {
    width: 50% ;
}
.nascimento_jubarte h2 {
    font-size: 6vw;
    font-family: "Cheque";
}
.nascimento_jubarte p {
    text-align: center;
    margin: 30px 0;
}
.nascimento_jubarte ol {
    list-style-type: decimal;
}
.nascimento_jubarte ol li {
    margin: 40px 0;
    text-align: center;
    font-size: 1.5vw;
    font-family: "Mali";
}

/* ===================================
     Amamentação da Baleia Jubarte
=======================================*/
.amamentacao {
    display: flex;
    justify-content: space-evenly;
    margin: 6vw 0;
}
.amamentacao div {
    width: 45%;
}
.amamentacao div h2 {
    text-align: center;
    font-size: 4vw;
    font-family: "Allura";
   margin: 4vw 0 0  0;
   margin: 20px 0;
}
.amamentacao div.primeiro h2 {
    background-image: url(../src/images/fundo_de_título.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 33vw;
    }
    .amamentacao div.segundo h2 {
        color: #004aad;
        background-image: url(../src/images/Segundo_fundo.png);
        background-repeat: no-repeat;
        background-size: 42vw;
        background-position: center;
}
.amamentacao div p {
    text-align: center;
    margin: 20px 0;
}
.amamentacao div p img {
    width: 80%; 
    height: 18vw;
    border-radius: 25px;
    align-items: end;
}
.amamentacao div.primeiro p img {
    margin: 30px 0 0 0;
}
/* ===================================
            Desmame
=======================================*/
.desmame {
    margin: 6vw 0;
}
.desmame h2{
  font-size: 6vw;
    margin: 0px 0 0 22px;
    font-family: "Cheque";
}
.desmame div {
    display: flex;
    text-align: center;
    align-items: center;
}
.desmame div p {
    margin: 20px;
    padding: 0 3vw;
}
.desmame div  p img {
    width: 250vw;
    border-radius: 20px;
}
/* ===================================
            Após o Desmame
=======================================*/
.apos_desmame > div {
    display: flex;
}
.apos_desmame div h2 {
    font-size: 6vw;
    font-family: "Cheque";
}
.apos_desmame div h3 {
    font-size: 4vw;
    font-family: "Allura";
    text-align: center;
    margin: 0px 20px 40px 0;
}
.apos_desmame img {
    width: 50vw;
    margin: 10px 20px 40px 0;
}
.apos_desmame div.textos {
    display: flex;
}
.apos_desmame div.textos p.texto_com_fundo_estilizado {
    background-image: url(../src/images/fundo_texto_apos_desmame.png);
    background-repeat: no-repeat;
    background-position: center;
}
.apos_desmame div.textos div {
    display: block;
}
.apos_desmame div.textos div p {
    text-align: center;
}
.apos_desmame div.textos p {
    margin:  0 3vw;
    width: 45vw;
    text-align: center;
}
.apos_desmame div.textos div p {
    margin:  0 3vw;
}
/* ===================================
            Alimentação
=======================================*/
.alimentacao div.titulo {
    justify-content: left;
}
.alimentacao div.titulo h2 {
    margin: 2vw 0 0 3vw;
}
.alimentacao div.titulo img {
    position: absolute;
}
.alimentacao h2 {
 font-size: 6vw;
 font-family: "Cheque";
}
.alimentacao h2 img {
    padding: 0 0 50px 20px;
    width: 8%;
}
.alimentacao > p {
 text-align: center;
 margin: 30px 40px 40px 6vw;   
}
.alimentacao p img {
    width: 70%;
}
.alimentacao p.forma_de_alimentacao {
    background-color: #3968a6;
      width: fit-content;
}
.alimentacao h3 {
     font-size: 4vw;
     font-family: "Allura";
     margin: 10px 20px 10px 40px;
}
.alimentacao  > div {
    display: flex;
    justify-content: space-between;
}
.alimentacao div div {
    width: 50vw;
}
.alimentacao div div > p {
    padding: 0 100px;
}
.alimentacao div div div {
    display: flex;
}
.alimentacao div div div img {
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
}
.alimentacao div div p.atividade_diaria {
    background-image: url(../src/images/fundo_img_migracao_jubarte.png);
    background-repeat: no-repeat;
    background-position: center;
}
.alimentacao div div div ul li p {
    margin: 20px 35px;
}
/* ===================================
            Morte das Baleias
=======================================*/
.morte_baleia {
    margin: 1vw 0 3vw 0;
}
.morte_baleia h2 {
    font-size: 4vw;
    margin: 0 0 0 10vw;
    text-align: center;
    font-family: "Allura";
    background-image: url(../src/images/fundo_img_migracao_jubarte.png);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px 0 6vw 0;
}
.morte_baleia h2 span {
     font-size: 6vw;
    margin: 0 10px 0 0;
    font-family: "Cheque";
}
.morte_baleia > div {
    display: flex;
    justify-content: space-between;
}
.morte_baleia div  div {
    width: 50%;
    padding: 20px 40px;
}
.morte_baleia div:first-child p{
    text-align: center;
    margin: 2vw 0 0 0;
    padding: 30px 15px;
}
.morte_baleia div:first-child div {
    display: flex;
    justify-content: right;
    
}
.morte_baleia div:last-child p {
    text-align: center;
}
.morte_baleia div:last-child p img {
    height: 16vw;
    border-radius: 20px;
}
.morte_baleia div:first-child p:first-child {
    background-color: #7bb8e3;
}
.morte_baleia div:first-child p:last-child {
    background-color: #2ba3ff;
}
.morte_baleia div:last-child p:first-child {
    background-color: #4cb1f6;
    margin: 10px 20px;
}
.morte_baleia div:last-child p:last-child {
    background-color: #32acff;
    margin: 2vw 20px;    
}
/* ===================================
            Turismo
=======================================*/
.turismo h2 {
    font-size: 6vw;
    font-family: "Cheque";
    text-align: center;
    background-color: #89BBD9;
    margin: 0 20vw 3vw 20vw;
}
.turismo > div p {
    text-align: center;
    margin: 2vw 5vw;
}
.turismo > div {
    display: flex;
    justify-content: space-between;
    margin: 0 8vw;
}
.turismo h3 {
         font-size: 4vw;
     font-family: "Allura";
     margin: 10px 20px 10px 40px;
}
.turismo div.local_avistamento {
    margin: 20px;
}
.turismo div.local_avistamento p {
    text-align: center;
}
.turismo div.local_avistamento ul li p {
    margin: 3.5vw 20px 3.5vw 40px;
}
.turismo div.local_avistamento div p img {
    width: 25vw;
    height: 30vw;
    border-radius: 25px;
}

.turismo div.local_avistamento div p:first-of-type {
    background-image: url(../src/images/Círculo_de_fundo_de_título.png);
    background-position: center;
    background-size: 30vw;
    background-repeat: no-repeat;
    padding: 6vw;
}
.turismo h3.datas {
    text-align: center;
}
.turismo p {
    text-align: justify;
    margin: 3vw 8vw;
}
.turismo p a {
    color: #2ba3ff;
    text-decoration: underline;
}
/* ===================================
            Sobre a economia
=======================================*/
.economia h2 {
     font-size: 4vw;
     font-family: "Allura";
     margin: 10px 20px 10px 40px;
     background-color: #a8daf7;
    display: inline-block;
    padding: 0 4vw;
    border-radius: 100%;   
}
.economia p {
     margin: 3vw 8vw;
     text-align: center;
}
/* ===================================
            Footer
=======================================*/
footer {
      padding: 2vw 9vw;
}
footer h2 {
    font-size: 3vw;
    margin: 20px 0;
}
footer ul li {
    margin: 20px 25px;
}
footer ul li a h3 {
    color: #32acff;
    font-size: 1.8vw;
}
footer ul li a h3:hover {
    text-decoration: underline;
    
}